<template>
  <div class="container">{{ name组件 }}</div>
</template>

<script lang="ts">
import { defineComponent, onBeforeMount, reactive, toRefs } from "vue";

export default defineComponent({
  setup() {
    // 数据和事件
    const dataMap = reactive({
      activeName: "directly",
      handleClick: () => {
        console.log("im being click");
      },
    });
    
    return { ...toRefs(dataMap) };
  },
});
</script>
